{{ header }}
<div class="container">
  <header>
    <div class="row">
      <div class="col-sm-6">
        <h1 class="pull-left">4<small>/4</small></h1>
        <h3>{{ heading_title }}<br><br>
          <small>{{ text_step_4 }}</small></h3>
      </div>
      <div class="col-sm-6">
        <div id="logo" class="pull-right"><img src="view/image/logo.png" alt="OpenCart" title="OpenCart" /></div>
      </div>
    </div>
  </header>
  {% if success %}
  <div class="alert alert-success alert-dismissible">{{ success }}</div>
  {% endif %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  <div class="visit">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-1 text-center">
        <p><i class="fa fa-shopping-cart fa-5x"></i></p>
        <a href="../" class="btn btn-secondary">{{ text_catalog }}</a></div>
      <div class="col-sm-5 text-center">
        <p><i class="fa fa-cog fa-5x white"></i></p>
        <a href="../admin/" class="btn btn-secondary">{{ text_admin }}</a></div>
    </div>
  </div>
  
  <div class="modules">
     <div class="row">
      <div class="col-sm-12 text-center"><a href="http://opencart-france.eu/index.php?route=extension/extension" target="_BLANK" class="btn btn-default">{{ text_extension }}</a></div>
    </div>
  </div>

  <div class="support text-center">
    <div class="row">
      <div class="col-sm-4"><a href="http://opencart-france.eu/" class="icon transition" target="_BLANK"><i class="fa fa-user fa-4x"></i></a>
        <h3>{{ text_web }}</h3>
        <p>{{ text_web_description }}</p>
        <a href="http://opencart-france.eu/" target="_BLANK">{{ text_web_visit }}</a></div>
       
      <div class="col-sm-4"><a href="http://forum.opencart-france.eu/index.php" class="icon transition"><i class="fa fa-comments fa-4x"></i></a>
        <h3>{{ text_forum }}</h3>
        <p>{{ text_forum_description }}</p>
        <a href="http://forum.opencart-france.eu/index.php" target="_BLANK">{{ text_forum_visit }}</a></div>
      
      <div class="col-sm-4"><a href="http://opencart-france.eu/index.php?route=provider/provider" class="icon transition"><i class="fa fa-user fa-4x"></i></a>
        <h3>{{ text_commercial }}</h3>
        <p>{{ text_commercial_description }}</p>
        <a href="http://opencart-france.eu/index.php?route=provider/provider" target="_BLANK">{{ text_commercial_visit }}</a></div>
    </div>
  </div>
</div>
{{ footer }}
<script type="text/javascript"><!--
$(document).ready(function() {
	$.ajax({
		url: '{{ extension }}',
		type: 'post',
		dataType: 'json',
		success: function(json) {
			if (json['extensions']) {
				html  = '';

				for (i = 0; i < json['extensions'].length; i++) {
					extension = json['extensions'][i];

					html += '<div class="col-sm-6 module">';
					html += '  <a class="thumbnail pull-left" href="' + extension['href'] + '"><img src="' + extension['image'] + '" alt="' + extension['name'] + '" /></a>';
					html += '  <h5>' + extension['name'] + '</h5>';
					html += '  <p>' + extension['price'] + ' <a target="_BLANK" href="' + extension['href'] + '">{{ text_view }}</a></p>';
					html += '  <div class="clearfix"></div>';
					html += '</div>';

					i++;
				}

				$('#extension').html(html);
			} else {
				$('#extension').fadeOut();
			}
		}
	});
});
//--></script>
