{% if (theme_options.get( 'fixed_header' ) == 1) %} 
<!-- HEADER
	================================================== -->
<div class="fixed-header-1 sticky-header header-type-3 header-type-13 header-type-19">
	{% set slideshow = theme_options.getModules('slideshow') %} 
	 {% if (slideshow|length > 0) %} 
	<!-- Slider -->
	<div id="slider" class="{% if (theme_options.get( 'slideshow_layout' ) == 1) %} {{ 'full-width' }} {% elseif (theme_options.get( 'slideshow_layout' ) == 4) %} {{ 'fixed3 fixed2' }} {% elseif (theme_options.get( 'slideshow_layout' ) == 3) %} {{ 'fixed2' }} {% else %} {{ 'fixed' }} {% endif %}">
		<div class="background-slider"></div>
		<div class="background">
			<div class="shadow"></div>
			<div class="pattern">
			     <div class="container">
	                     <div class="row slideshow-modules">
	                          <div class="col-md-3">
	           				{% for module in slideshow %} 
	           				{{ module }} 
	           				{% endfor %} 
	           			</div>
	           		     
	           		     <div class="col-md-9">
	           		          <div class="shop-by-car">
	           		               <select class="shop-by-car-select" onChange="window.location.href=this.value">
	           		                    <option>{% if (theme_options.get( 'shop_by_car_text', config.get( 'config_language_id' ) ) != '') %} {{ theme_options.html_entity_decode(theme_options.get( 'shop_by_car_text', config.get( 'config_language_id' ) )) }} {% else %} {{ 'Shop by car' }} {% endif %}</option>
	           		               </select>
	           		               
	           		               <script type="text/javascript">
	           		                    $(document).ready(function() {
	           		                         $("#cars-links ul li a").each(function() {
	           		                              $('select.shop-by-car-select').append('<option value="' + $(this).attr('href') + '">' + $(this).html() + '</option>');
	           		                         });
	           		                    });
	           		               </script>
	           		          </div>
	           		          
	           		          <div class="shop-by-brands">
	           		               <select class="shop-by-brand-select" onChange="window.location.href=this.value">
	           		                    <option>{% if (theme_options.get( 'shop_by_brand_text', config.get( 'config_language_id' ) ) != '') %} {{ theme_options.html_entity_decode(theme_options.get( 'shop_by_brand_text', config.get( 'config_language_id' ) )) }} {% else %} {{ 'Shop by brand' }} {% endif %}</option>
	           		               </select>
	           		               
	           		               <script type="text/javascript">
	           		                    $(document).ready(function() {
	           		                         $("#brands-links ul li a").each(function() {
	           		                              $('select.shop-by-brand-select').append('<option value="' + $(this).attr('href') + '">' + $(this).html() + '</option>');
	           		                         });
	           		                    });
	           		               </script>
	           		          </div>
	           		          
	           		          <div class="search_form_overflow">
	                		          <div class="search_form">					         
	                		              <div class="overflow-input"><input type="text" class="input-block-level search-query" name="search" placeholder="{{ text_search }}" id="search_query" value="" /></div>
	                		              
	                		              <div class="button-search"></div>
	                		              {% if (theme_options.get( 'quick_search_autosuggest' ) != '0') %} 
	                		              	<div id="autocomplete-results" class="autocomplete-results"></div>
	                		              	
	                		              	<script type="text/javascript">
	                		              	$(document).ready(function() {
	                		              		$('#search_query').autocomplete({
	                		              			delay: 0,
	                		              			appendTo: "#autocomplete-results",
	                		              			source: function(request, response) {		
	                		              				$.ajax({
	                		              					url: 'index.php?route=search/autocomplete&filter_name=' +  encodeURIComponent(request.term),
	                		              					dataType: 'json',
	                		              					success: function(json) {
	                		              						response($.map(json, function(item) {
	                		              							return {
	                		              								label: item.name,
	                		              								value: item.product_id,
	                		              								href: item.href,
	                		              								thumb: item.thumb,
	                		              								desc: item.desc,
	                		              								price: item.price
	                		              							}
	                		              						}));
	                		              					}
	                		              				});
	                		              			},
	                		              			select: function(event, ui) {
	                		              				document.location.href = ui.item.href;
	                		              				
	                		              				return false;
	                		              			},
	                		              			focus: function(event, ui) {
	                		              		      	return false;
	                		              		   	},
	                		              		   	minLength: 2
	                		              		})
	                		              		.data( "ui-autocomplete" )._renderItem = function( ul, item ) {
	                		              		  return $( "<li>" )
	                		              		    .append( "<a>" + item.label + "</a>" )
	                		              		    .appendTo( ul );
	                		              		};
	                		              	});
	                		              	</script>
	                		              {% endif %} 
	                		          </div>
	           		          </div>
	           		     </div>
	           		</div>
	      		</div>
			</div>
		</div>
	</div>
	{% endif %} 
</div>
{% endif %} 

<!-- HEADER
	================================================== -->
<header class="header-type-3 header-type-13 header-type-19">
	<div class="background-header"></div>
	<div class="slider-header">
		<!-- Top of pages -->
		<div id="top" class="{% if (theme_options.get( 'header_layout' ) == 1) %} {{ 'full-width' }} {% elseif (theme_options.get( 'header_layout' ) == 4) %} {{ 'fixed3 fixed2' }} {% elseif (theme_options.get( 'header_layout' ) == 3) %} {{ 'fixed2' }} {% else %} {{ 'fixed' }} {% endif %}">
			<div class="background-top"></div>
			<div class="background">
				<div class="shadow"></div>
				<div class="pattern">
				     <div class="top-bar">
				          <div class="container">
				               <!-- Links -->
				               <ul class="menu">
				               	<li><a href="{{ account }}">{{ text_account }}</a></li>
				               	<li><a href="{{ wishlist }}" id="wishlist-total">{{ text_wishlist }}</a></li>
				               	<li><a href="{{ shopping_cart }}">{{ text_shopping_cart }}</a></li>
				               	<li><a href="{{ checkout }}">{{ text_checkout }}</a></li>
				               	{% if (logged) %} 
				               	<li><a href="{{ logout }}">{{ text_logout }}</a></li>
				               	{% endif %} 
				               </ul>
				               
				               {{ currency~language }} 
				          </div>
				     </div>
				     
					<div class="container">
						<div class="row">		
						     {% if (logo) %} 
						     <!-- Header Left -->
						     <div class="col-sm-3" id="header-left">
						          <!-- Logo -->
						          <div class="logo"><a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" /></a></div>
						     </div>
						     {% endif %} 
						     
							<!-- Header Left -->
							<div class="col-sm-5" id="header-center">
                                        
								 {% set menu9 = theme_options.getModules('menu') %}
								 {% if ( menu9|length > 0 ) %} 
                                     <div class="megamenu-background">
                                          <div class="">
                                               <div class="overflow-megamenu container">                    				
									 				{% if (menu9|length > 1) %} {{ '<div class="row mega-menu-modules">' }}{% endif %}
									 				{% set i = 0 %}
									 				 
									 				{% for module in menu9 %} 
									 				 {% if (i == 0 and menu9|length > 1) %} {{ '<div class="col-md-3">' }}{% endif %}
									 				 {% if (i == 1 and menu9|length > 1) %} {{ '<div class="col-md-9">' }}{% endif %}
									 					 {{ module }}
									 					{% if (menu9|length > 1 and (i == 0 or i == 1)) %} {{ '</div>' }}{% endif %}
									 					{% if (menu9|length > 1 and i == 1) %} {{ '</div>' }}{% endif %}
									 					{% set i = i + 1 %}
									 				{% endfor %} 
                                			</div>
                                		</div>
                                	</div>
                                {% else %} 
									{{ menu }}
								{% endif %}
							</div>
							
							<!-- Header Right -->
							<div class="col-sm-4" id="header-right">
							     
							 {% set top_block = theme_options.getModules('top_block') %}
							 {% if ( top_block|length > 0 ) %} 
							 	{% for module in top_block %} 
							 		{{ module }}
							 	{% endfor %}
							 {% endif %} 
							     
							     <a href="{{ account }}" class="my-account"><i class="fa fa-user"></i></a>
								{{ cart }} 
							</div>
						</div>
					</div>
					
					
					{% set menu92 = theme_options.getModules('menu2') %}
					{% if ( menu92|length > 0 ) %} 
					 {{ '<div class="overflow-menu2">' }}
						{% for module in menu92 %} 
							{{ module }}
						{% endfor %}
						{{ '</div>' }}
					{% endif %} 
				</div>
			</div>
		</div>
	</div>
	
	{% set slideshow = theme_options.getModules('slideshow') %} 
	 {% if (slideshow|length > 0) %} 
	<!-- Slider -->
	<div id="slider" class="{% if (theme_options.get( 'slideshow_layout' ) == 1) %} {{ 'full-width' }} {% elseif (theme_options.get( 'slideshow_layout' ) == 4) %} {{ 'fixed3 fixed2' }} {% elseif (theme_options.get( 'slideshow_layout' ) == 3) %} {{ 'fixed2' }} {% else %} {{ 'fixed' }} {% endif %}">
		<div class="background-slider"></div>
		<div class="background">
			<div class="shadow"></div>
			<div class="pattern">
			     <div class="container">
                         <div class="row slideshow-modules">
                              <div class="col-md-3">
               				{% for module in slideshow %} 
               				{{ module }} 
               				{% endfor %} 
               			</div>
               		     
               		     <div class="col-md-9">
               		          <div class="shop-by-car">
               		               <select class="shop-by-car-select" onChange="window.location.href=this.value">
               		                    <option>{% if (theme_options.get( 'shop_by_car_text', config.get( 'config_language_id' ) ) != '') %} {{ theme_options.html_entity_decode(theme_options.get( 'shop_by_car_text', config.get( 'config_language_id' ) )) }} {% else %} {{ 'Shop by car' }} {% endif %}</option>
               		               </select>
               		               
               		               <script type="text/javascript">
               		                    $(document).ready(function() {
               		                         $("#cars-links ul li a").each(function() {
               		                              $('select.shop-by-car-select').append('<option value="' + $(this).attr('href') + '">' + $(this).html() + '</option>');
               		                         });
               		                    });
               		               </script>
               		          </div>
               		          
               		          <div class="shop-by-brands">
               		               <select class="shop-by-brand-select" onChange="window.location.href=this.value">
               		                    <option>{% if (theme_options.get( 'shop_by_brand_text', config.get( 'config_language_id' ) ) != '') %} {{ theme_options.html_entity_decode(theme_options.get( 'shop_by_brand_text', config.get( 'config_language_id' ) )) }} {% else %} {{ 'Shop by brand' }} {% endif %}</option>
               		               </select>
               		               
               		               <script type="text/javascript">
               		                    $(document).ready(function() {
               		                         $("#brands-links ul li a").each(function() {
               		                              $('select.shop-by-brand-select').append('<option value="' + $(this).attr('href') + '">' + $(this).html() + '</option>');
               		                         });
               		                    });
               		               </script>
               		          </div>
               		          
               		          <div class="search_form_overflow">
                    		          <div class="search_form">					         
                    		              <div class="overflow-input"><input type="text" class="input-block-level search-query" name="search" placeholder="{{ text_search }}" id="search_query_main" value="" /></div>
                    		              
                    		              <div class="button-search"></div>
                    		              {% if (theme_options.get( 'quick_search_autosuggest' ) != '0') %} 
                    		              	<div id="autocomplete-results-main" class="autocomplete-results" style="position: relative"></div>
                    		              	
                    		              	<script type="text/javascript">
                    		              	$(document).ready(function() {
                    		              		$('#search_query_main').autocomplete({
                    		              			delay: 0,
                    		              			appendTo: "#autocomplete-results-main",
                    		              			source: function(request, response) {		
                    		              				$.ajax({
                    		              					url: 'index.php?route=search/autocomplete&filter_name=' +  encodeURIComponent(request.term),
                    		              					dataType: 'json',
                    		              					success: function(json) {
                    		              						response($.map(json, function(item) {
                    		              							return {
                    		              								label: item.name,
                    		              								value: item.product_id,
                    		              								href: item.href,
                    		              								thumb: item.thumb,
                    		              								desc: item.desc,
                    		              								price: item.price
                    		              							}
                    		              						}));
                    		              					}
                    		              				});
                    		              			},
                    		              			select: function(event, ui) {
                    		              				document.location.href = ui.item.href;
                    		              				
                    		              				return false;
                    		              			},
                    		              			focus: function(event, ui) {
                    		              		      	return false;
                    		              		   	},
                    		              		   	minLength: 2
                    		              		})
                    		              		.data( "ui-autocomplete" )._renderItem = function( ul, item ) {
                    		              		  return $( "<li>" )
                    		              		    .append( "<a>" + item.label + "</a>" )
                    		              		    .appendTo( ul );
                    		              		};
                    		              	});
                    		              	</script>
                    		              {% endif %} 
                    		          </div>
               		          </div>
               		     </div>
               		</div>
          		</div>
			</div>
		</div>
	</div>
	{% endif %} 
</header>