<style><!--
.required {
    color: #FF0000;
    font-weight: bold;
}
.error {
    color: #FF0000;
    font-weight: bold;
}

table.form {
    width: 100%;
  	font-size: 13px;
    margin-left: 20px; 
    margin-right: 20px;        
}
td.enter {
   padding-top:7px;
}
.div2{
    margin-left: 20px; 
    margin-right: 20px;   
}
--></style> 


{{ header }}{{ column_left }}
  
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form_kp" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumbs in breadcrumb %} ?>
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
          
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
            <li><a href="#tab-help" data-toggle="tab">{{ tab_help }}</a></li>
            <li><a href="#tab-about" data-toggle="tab">{{ tab_about }} Klik & Pay</a></li>            
          </ul>   
        
    <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form_kp">
          <div class="tab-content">
        <div class="tab-pane active" id="tab-general">
      <table class="form">
        <tr>
          <td>&nbsp;{{ entry_open }}</td>
          <td>{{ text_open }}</td>
        </tr>      

        <tr>
          <td><span class="required">*</span> {{ entry_site }}</td>
          <td class="enter"><input type="text" name="payment_klikandpay_site" value="{{ payment_klikandpay_site }}" />
            {% if error_site %}
            <span class="error">{{ error_site }}</span>
            {% endif %}  
          </td>
        </tr>        
        
        <input type="hidden" name="payment_klikandpay_key" value="1">        
 
        <tr>
          <td><span class="required">*</span> {{ entry_merchant_key }}</td>
          <td class="enter"><input type="text" name="payment_klikandpay_key" value="{{ payment_klikandpay_key }}" />
            {% if error_merchant_key %}
            <span class="error">{{ error_merchant_key }}</span>
            {% endif %}  
          </td>
        </tr>
        <tr>
          <td>{{ entry_test }}</td>
          <td class="enter">
          {% if payment_klikandpay_test != "0" %}
            <input type="radio" name="payment_klikandpay_test" value="1" checked="checked" />
            {{ text_yes }}
            <input type="radio" name="payment_klikandpay_test" value="0" />
            {{ text_no }}
            {% else %}
            <input type="radio" name="payment_klikandpay_test" value="1" />
            {{ text_yes }}
            <input type="radio" name="payment_klikandpay_test" value="0" checked="checked" />
            {{ text_no }}
            {% endif %}  
          </td>
        </tr>
        <tr>
          <td></span> {{ entry_seuil_pay }}</td>
          {% if payment_klikandpay_seuil_pay == ''%} {% set payment_klikandpay_seuil_pay = "1" %} {% endif %}
          <td class="enter"><input type="text" name="payment_klikandpay_seuil_pay" value="{{ payment_klikandpay_seuil_pay }}" size="10">
          </td>
        </tr>
        <tr>
          <td></span> {{ entry_plafon_pay }}</td>
          {% if payment_klikandpay_plafon_pay == ''%} {% set payment_klikandpay_plafon_pay = "1000" %} {% endif %}
          <td class="enter"><input type="text" name="payment_klikandpay_plafon_pay" value="{{ payment_klikandpay_plafon_pay }}" size="10">
          </td>
        </tr> 

        <tr>
          <td>{{ entry_order_status }}</td>
          {% if payment_klikandpay_order_status_id == '' %} {% set payment_klikandpay_order_status_id = '1'%} {% endif %}
          <td class="enter"><select name="payment_klikandpay_order_status_id">
              {% for order_status in order_statuses %}
              {% if order_status.order_status_id == payment_klikandpay_order_status_id %}
              <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
              {% else %}
              <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
              {% endif %}  
              {% endfor %}
            </select></td>
        </tr>
        <tr>
          <td>{{ entry_geo_zone }}</td>
          <td class="enter"><select name="payment_klikandpay_geo_zone_id">
              <option value="0">{{ text_all_zones }}</option>
              {% for geo_zone in geo_zones %}
              {% if geo_zone.geo_zone_id == payment_klikandpay_geo_zone_id %}
              <option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
              {% else %}
              <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
              {% endif %}  
              {% endfor %}
            </select></td>
        </tr>
                 
        <tr>
          <td>{{ entry_status }}</td>
          <td class="enter"><select name="payment_klikandpay_status" id="input-status">
              {% if payment_klikandpay_status == '' %} {% set payment_klikandpay_status = '1' %} {% endif %}
              {% if payment_klikandpay_status == '1' %}
              <option value="1" selected="selected">{{ text_enabled }}</option>
              <option value="0">{{ text_disabled }}</option>
              {% else %}
              <option value="1">{{ text_enabled }}</option>
              <option value="0" selected="selected">{{ text_disabled }}</option>
             {% endif %}  
            </select></td>
        </tr>
        <tr>
          <td>{{ entry_sort_order }}</td>
          {% if payment_klikandpay_sort_order == '' %} {% set payment_klikandpay_sort_order = '1' %}  {% endif %}  
          <td class="enter"><input type="text" name="payment_klikandpay_sort_order" value="{{ payment_klikandpay_sort_order }}" size="1" id="input-sort-order"/></td>
        </tr>             
        
            <tr>
			  <td></td>
			  <td>{{ text_infos }}</td>
            </tr>
      </table>
    </form>
    
        </div>
        
        <div class="tab-pane" id="tab-help">
          <table class="form">
            <tr>
			  <td></td>
			  <td>{{ text_help }}</td>
            </tr>
            <tr>
			  <td></td>
			  <td>{{ text_infos }}</td>
            </tr>
          </table>
		  
        </div>
        
        <div class="tab-pane" id="tab-about">
          <table class="form">
            <tr>
			  <td></td>
			  <td>{{ text_about }}</td>
            </tr>
            <tr>
			  <td></td>
			  <td>{{ text_infos }}</td>
            </tr>
          </table>
		  
        </div>        
           
	  <div class="div2">{{ text_author }}</div>
  </div>
</div>
</div>

<script type="text/javascript"><!--
$('#tabs a').tabs(); 
$('#languages a').tabs(); 
//--></script> 
{{ footer }}
