
<style><!--
.required {
    color: #FF0000;
    font-weight: bold;
}
.error {
    color: #FF0000;
    font-weight: bold;
}

table.form {
    width: 100%;
  	font-size: 13px;
    margin-left: 20px; 
    margin-right: 20px;        
}
td.enter {
   padding-top:7px;
}
.div2{
    margin-left: 20px; 
    margin-right: 20px;   
}
--></style> 


{{ header }}{{ column_left }}
  
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumbs in breadcrumb %} ?>
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
  
    <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form">
      <table class="form">
        <tr>
          <td><img src="view/image/payment/PayPlug.png" style="border: 0px solid #EEEEEE;margin: 0px 20px 220px 20px;" alt="" />
          <br /><span class="required">*</span>&nbsp;{{ entry_cfg_site }}</td>
          <td>
         {{ text_cadre_cfg }}<br>
          <textarea name="payment_payplugh_cfg_site" cols="74" rows="8">{{ payment_payplugh_cfg_site }}</textarea>
          
          <form action="{{ action_cfg }}" method="post" enctype="multipart/form-data" id="form_cfg">
			<p>{{ text_enter_cfg }}<br />
			<table class="form">
			  <tr>
				<td style="padding-left: 5px;">{{ text_email_cfg }} <input type="text" name="email_cfg" id="email_cfg"></td>				
				<td class="enter" style="padding-left: 5px;">{{ text_email_cfg }} <input type="text" name="email_cfgt" id="email_cfgt"></td>
			  </tr>
			  <tr>
				<td>{{ text_pwd_cfg }} <input type="text" name="psw" id="psw" value=""></td>				
				<td class="enter" style="padding-left: 70x;">{{ text_pwd_cfg }} <input type="text" name="pswt" id="pswt" value=""></td>
			  </tr>
			</table>
			<br />
                <div class="buttons" style="padding-left: 40px;">
                <input type="submit" class="btn btn-primary" value="{{ button_charge_cfg }}">
                <span style="padding-left: 75px;"> &nbsp;</span>
                <input type="submit" class="btn btn-primary" value="{{ button_charge_cfgt }}"></div>
                <br>{{ text_infos_cfg }}
          </form>
          
           {% if error_cfg_site %}
           <span class="error"><br />{{ error_cfg_site }}</span>
           {% endif %}</td>
        </tr>
        <input type="hidden" name="payment_payplugh_test" value="{{ payment_payplugh_test }}" />
        {% if status_cfg == 200 %}
        {% if payment_payplugh_test == '1' %} {% set text_test = text_test_ok %}  {% else %}  {% set text_test = text_test_no %} {% endif %}
        {{ text_test}} {{text_install_ok }} 
        {% else %} 
        {{ text_install_nc }}
        {% endif %}
        
         <tr>
          <td><span class="required">*</span> {{ entry_amount_min }}</td>
          {% if payment_payplugh_amount_min == ''%} {% set payment_payplugh_amount_min = "1" %} {% endif %}
          <td class="enter"><input type="text" name="payment_payplugh_amount_min" value="{{ payment_payplugh_amount_min }}" />
          <i> {{ text_amount_min }}<b> {% if amount_min  %} {{ amount_min }} {% else %} nd {% endif %}</b></i>
          {% if error_amount_min %} 
            <span class="error">{{ error_amount_min }}</span>
          {% endif %}
          </td>
        </tr>
        <tr>
          <td><span class="required">*</span> {{ entry_amount_max }}</td>
          {% if payment_payplugh_amount_max == ''%} {% set payment_payplugh_amount_max = "1000" %} {% endif %}  
          <td class="enter"><input type="text" name="payment_payplugh_amount_max" value="{{ payment_payplugh_amount_max }}" />
          <i> {{ text_amount_max }}<b> {% if amount_max  %} {{ amount_max }} {% else %} nd {% endif %}</b></i>
          {% if error_amount_max %} 
            <span class="error">{{ error_amount_max }}</span>
          {% endif %}
          </td>
        </tr> 
                
        <input type="hidden" name="payment_payplugh_order_test_id" value="0">

        <tr>
          <td>{{ entry_order_status }}</td>
          {% if payment_payplugh_order_status_id == '' %} {% set payment_payplugh_order_status_id = '1'%} {% endif %}
          <td class="enter"><select name="payment_payplugh_order_status_id">
              {% for order_status in order_statuses %}
              {% if order_status.order_status_id == payment_payplugh_order_status_id %}
              <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
              {% else %}
              <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
              {% endif %}  
              {% endfor %}
            </select></td>
        </tr>
        <tr>
          <td>{{ entry_geo_zone }}</td>
          <td class="enter"><select name="payment_payplugh_geo_zone_id">
              <option value="0">{{ text_all_zones }}</option>
              {% for geo_zone in geo_zones %}
              {% if geo_zone.geo_zone_id == payment_payplugh_geo_zone_id %}
              <option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
              {% else %}
              <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
              {% endif %}  
              {% endfor %}
            </select></td>
        </tr>
        
        <tr>
          <td>{{ entry_status }}</td>
          <td class="enter"><select name="payment_payplugh_status" id="input-status">
              {% if payment_payplugh_status == '' %} {% set payment_payplugh_status = '1' %} {% endif %}
              {% if payment_payplugh_status == '1' %}
              <option value="1" selected="selected">{{ text_enabled }}</option>
              <option value="0">{{ text_disabled }}</option>
              {% else %}
              <option value="1">{{ text_enabled }}</option>
              <option value="0" selected="selected">{{ text_disabled }}</option>
             {% endif %}  
            </select></td>
        </tr>
        <tr>
          <td>{{ entry_sort_order }}</td>
          {% if payment_payplugh_sort_order == '' %} {% set payment_payplugh_sort_order = '1' %}  {% endif %}  
          <td class="enter"><input type="text" name="payment_payplugh_sort_order" value="{{ payment_payplugh_sort_order }}" size="1" id="input-sort-order"/></td>
        </tr>          
        
        
        <tr>
          <td colspan="2" style="text-align: center">{{ text_credit }}</td>
        </tr>
      </table>
    </form>
   </div>
 </div>
</div>

</div>

{{ footer }}
