{#
 * Sogecommerce V2-Payment Module version 4.0.0 for OpenCart 3.x. Support contact : support@sogecommerce.societegenerale.eu.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 * @author    Lyra Network (http://www.lyra-network.com/)
 * @copyright 2014-2018 Lyra Network and contributors
 * @license   http://www.gnu.org/licenses/gpl.html  GNU General Public License (GPL v3)
 * @category  payment
 * @package   sogecommerce
 #}

{{ header }}{{ column_left }}

<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-payment_sogecommerce_multi" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1><img src="view/image/payment/sogecommerce.png" alt="" />{{ heading_title }}</h1><br />
      <ul class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
      </ul>
    </div>

{% if not sogecommerce_plugin_features.multi %}
    <div class="alert alert-warning" style="margin: 20px;">{{ text_payment_sogecommerce_multi_not_available }}</div>
  </div>
{% else %}
  {% if sogecommerce_plugin_features.restrictmulti %}
    <div class="alert alert-warning" style="margin: 20px;">{{ text_payment_sogecommerce_multi_restriction_warn }}</div>
  {% endif %}

  </div>

  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger">{{ error_warning }}</div>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% endif %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i>{{ text_edit }}</h3>
      </div>

      <div class="panel-body">
        <form action="{{ action }}" method="POST" enctype="multipart/form-data" id="form-payment_sogecommerce_multi" class="form-horizontal">
          <fieldset class="form-horizontal">
            <legend><font style="font-weight: bold;">{{ section_payment_sogecommerce_module_info }}</font></legend>
            <div class="form-group">
              <label class="col-sm-3 control-label">{{ entry_payment_sogecommerce_developed_by }}</label>
              <label class="control-label"><b><a href="http://www.lyra-network.com/" target="_blank">Lyra network</a></b></label>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">{{ entry_payment_sogecommerce_contact_email }}</label>
              <label class="control-label"><b><a href="mailto:support@sogecommerce.societegenerale.eu">support@sogecommerce.societegenerale.eu</a></b></label>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">{{ entry_payment_sogecommerce_contrib_version }}</label>
              <label class="control-label"><b>4.0.0</b></label>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">{{ entry_payment_sogecommerce_gateway_version }}</label>
              <label class="control-label"><b>V2</b></label>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="payment_sogecommerce_multi_enable_logs"><span data-toggle="tooltip" title="{{ desc_payment_sogecommerce_enable_logs }}">{{ entry_payment_sogecommerce_enable_logs }}</span></label>
              <div class="col-sm-13">
                <select id="payment_sogecommerce_multi_enable_logs" name="payment_sogecommerce_multi_enable_logs">
                  <option {% if payment_sogecommerce_multi_enable_logs %} selected="selected" {% endif %} value="1">{{ text_enabled }}</option>
                  <option {% if not payment_sogecommerce_multi_enable_logs %} selected="selected" {% endif %} value="0">{{ text_disabled }}</option>
                </select>
              </div>
            </div>
          </fieldset>

          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_payment_sogecommerce_general }}</a></li>
            <li><a href="#tab-specific" data-toggle="tab">{{ tab_payment_sogecommerce_multi_specific }}</a></li>
            <li><a href="#tab-orders" data-toggle="tab">{{ tab_payment_sogecommerce_orders }}</a></li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
              <fieldset>
                <legend><font style="font-weight: bold;">{{ section_payment_sogecommerce_payment_access }}</font></legend>

                <div class="form-group required">
                  <label class="col-sm-3 control-label" for="payment_sogecommerce_multi_site_id"><span data-toggle="tooltip" title="{{ desc_payment_sogecommerce_site_id }}">{{ entry_payment_sogecommerce_site_id }}</span></label>
                  <div >
                    <input type="text" id="payment_sogecommerce_multi_site_id" name="payment_sogecommerce_multi_site_id" placeholder="{{ entry_payment_sogecommerce_site_id }}" value="{{ payment_sogecommerce_multi_site_id }}" autocomplete="off" />
                  </div>
                </div>
                {% if not sogecommerce_plugin_features.qualif %}
                  <div class="form-group required">
                    <label class="col-sm-3 control-label" for="payment_sogecommerce_multi_key_test"><span data-toggle="tooltip" title="{{ desc_payment_sogecommerce_key_test }}">{{ entry_payment_sogecommerce_key_test }}</span></label>
                    <div class="col-sm-13">
                      <input type="text" id="payment_sogecommerce_multi_key_test" name="payment_sogecommerce_multi_key_test" placeholder="{{ entry_payment_sogecommerce_key_test }}" value="{{ payment_sogecommerce_multi_key_test }}" autocomplete="off" />
                    </div>
                  </div>
                {% endif %}
                <div class="form-group required">
                  <label class="col-sm-3 control-label" for="payment_sogecommerce_multi_key_prod"><span data-toggle="tooltip" title="{{ desc_payment_sogecommerce_key_prod }}">{{ entry_payment_sogecommerce_key_prod }}</span></label>
                  <div class="col-sm-13">
                    <input type="text" id="payment_sogecommerce_multi_key_prod" name="payment_sogecommerce_multi_key_prod" placeholder="{{ entry_payment_sogecommerce_key_prod }}" value="{{ payment_sogecommerce_multi_key_prod }}" autocomplete="off" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="payment_sogecommerce_multi_ctx_mode"><span data-toggle="tooltip" title="{{ desc_payment_sogecommerce_ctx_mode }}">{{ entry_payment_sogecommerce_ctx_mode }}</span></label>
                  <div class="col-sm-13">
                    <select id="payment_sogecommerce_multi_ctx_mode" name="payment_sogecommerce_multi_ctx_mode"{% if sogecommerce_plugin_features.qualif %} disabled="disabled"{% endif %}>
                      <option {% if payment_sogecommerce_multi_ctx_mode == 'TEST' %} selected="selected" {% endif %} value="TEST">{{ text_payment_sogecommerce_test }}</option>
                      <option {% if payment_sogecommerce_multi_ctx_mode == 'PRODUCTION' %} selected="selected" {% endif %} value="PRODUCTION">{{ text_payment_sogecommerce_production }}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="payment_sogecommerce_multi_sign_algo"><span data-toggle="tooltip" title="{{ desc_payment_sogecommerce_sign_algo }}">{{ entry_payment_sogecommerce_sign_algo }}</span></label>
                  <div class="col-sm-13">
                    <select id="payment_sogecommerce_multi_sign_algo" name="payment_sogecommerce_multi_sign_algo">
                      <option {% if payment_sogecommerce_multi_sign_algo == 'SHA-1' %} selected="selected" {% endif %} value="SHA-1">SHA-1</option>
                      <option {% if payment_sogecommerce_multi_sign_algo == 'SHA-256' %} selected="selected" {% endif %} value="SHA-256">HMAC-SHA-256</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">{{ entry_payment_sogecommerce_url_check }}</label>
                  <label class="control-label" style="display: inline;">{{ payment_sogecommerce_notification_url }}<br />
                    <img src="view/image/payment/warn.png" alt="" />
                    <label style="color: red;">{{ desc_payment_sogecommerce_url_check }}</label>
                  </label>
                </div>
                <div class="form-group required">
                  <label class="col-sm-3 control-label" for="payment_sogecommerce_multi_platform_url"><span data-toggle="tooltip" title="{{ desc_payment_sogecommerce_platform_url }}">{{ entry_payment_sogecommerce_platform_url }}</span></label>
                  <div class="col-sm-13">
                    <input type="text" id="payment_sogecommerce_multi_platform_url" name="payment_sogecommerce_multi_platform_url" placeholder="{{ entry_payment_sogecommerce_platform_url }}" value="{{ payment_sogecommerce_multi_platform_url }}" size="50" />
                  </div>
                </div>
              </fieldset>

              <fieldset>
                <legend><font style="font-weight: bold;">{{ section_payment_sogecommerce_payment_page }}</font></legend>
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="payment_sogecommerce_multi_language"><span data-toggle="tooltip" title="{{ desc_payment_sogecommerce_language }}">{{ entry_payment_sogecommerce_language }}</span></label>
                  <div class="col-sm-13">
                    <select id="payment_sogecommerce_multi_language" name="payment_sogecommerce_multi_language">
                    {% for code, label in payment_sogecommerce_multi_language_options %}
                      {% if payment_sogecommerce_multi_language == code %}
                        <option selected="selected" value="{{ code }}">{{ label }}</option>
                      {% else %}
                        <option value="{{ code }}">{{ label }}</option>
                      {% endif %}
                    {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="payment_sogecommerce_multi_available_languages"><span data-toggle="tooltip" title="{{ desc_payment_sogecommerce_available_languages }}">{{ entry_payment_sogecommerce_available_languages }}</span></label>
                  <div class="col-sm-13">
                    <select id="payment_sogecommerce_multi_available_languages" name="payment_sogecommerce_multi_available_languages[]" multiple="multiple" size="9" style="height: auto;">
                    {% if payment_sogecommerce_multi_available_languages is empty %}
                      {% set payment_sogecommerce_multi_available_languages = [] %}
                    {% else %}
                      {% set payment_sogecommerce_multi_available_languages = payment_sogecommerce_multi_available_languages|split(';') %}
                    {% endif %}

                    {% for code, label in payment_sogecommerce_multi_language_options %}
                      {% if code in payment_sogecommerce_multi_available_languages %}
                        <option selected="selected" value="{{ code }}">{{ label }}</option>
                      {% else %}
                        <option value="{{ code }}">{{ label }}</option>
                      {% endif %}
                    {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="payment_sogecommerce_multi_capture_delay"><span data-toggle="tooltip" title="{{ desc_payment_sogecommerce_capture_delay }}">{{ entry_payment_sogecommerce_capture_delay }}</span></label>
                  <div class="col-sm-13">
                    <input type="text" id="payment_sogecommerce_multi_capture_delay" name="payment_sogecommerce_multi_capture_delay" placeholder="{{ entry_payment_sogecommerce_capture_delay }}" value="{{ payment_sogecommerce_multi_capture_delay }}" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="payment_sogecommerce_multi_validation_mode"><span data-toggle="tooltip" title="{{ desc_payment_sogecommerce_validation_mode }}">{{ entry_payment_sogecommerce_validation_mode }}</span></label>
                  <div class="col-sm-13">
                    <select id="payment_sogecommerce_multi_validation_mode" name="payment_sogecommerce_multi_validation_mode">
                      <option {% if payment_sogecommerce_multi_validation_mode == '' %} selected="selected" {% endif %} value=''>{{ text_payment_sogecommerce_default }}</option>
                      <option {% if payment_sogecommerce_multi_validation_mode == '0' %} selected="selected" {% endif %} value='0'>{{ text_payment_sogecommerce_automatic }}</option>
                      <option {% if payment_sogecommerce_multi_validation_mode == '1' %} selected="selected" {% endif %} value='1'>{{ text_payment_sogecommerce_manual }}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="payment_sogecommerce_multi_payment_cards"><span data-toggle="tooltip" title="{{ desc_payment_sogecommerce_payment_cards }}">{{ entry_payment_sogecommerce_payment_cards }}</span></label>
                  <div class="col-sm-13">
                    <select id="payment_sogecommerce_multi_payment_cards" name="payment_sogecommerce_multi_payment_cards[]" multiple="multiple" size="7" style="height: auto;">
                    {% if payment_sogecommerce_multi_payment_cards is empty %}
                      {% set payment_sogecommerce_multi_payment_cards = [] %}
                    {% else %}
                      {% set payment_sogecommerce_multi_payment_cards = payment_sogecommerce_multi_payment_cards|split(';') %}
                    {% endif %}

                    {% for code, label in payment_sogecommerce_multi_payment_card_options %}
                      {% if code in payment_sogecommerce_multi_payment_cards %}
                        <option selected="selected" value="{{ code }}">{{ label }}</option>
                      {% else %}
                        <option value="{{ code }}">{{ label }}</option>
                      {% endif %}
                    {% endfor %}
                    </select>
                  </div>
                </div>
              </fieldset>

              <fieldset>
                <legend><font style="font-weight: bold;">{{ section_payment_sogecommerce_selective_3ds }}</font></legend>
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="payment_sogecommerce_multi_3ds_min_amount"><span data-toggle="tooltip" title="{{ desc_payment_sogecommerce_3ds_min_amount }}">{{ entry_payment_sogecommerce_3ds_min_amount }}</span></label>
                  <div class="col-sm-13">
                    <input type="text" id="payment_sogecommerce_multi_3ds_min_amount" name="payment_sogecommerce_multi_3ds_min_amount" placeholder="{{ entry_payment_sogecommerce_3ds_min_amount }}" value="{{ payment_sogecommerce_multi_3ds_min_amount }}" />
                  </div>
                </div>
              </fieldset>

              <fieldset>
                <legend><font style="font-weight: bold;">{{ section_payment_sogecommerce_return_to_shop }}</font></legend>
                <div class="form-group" >
                  <label class="col-sm-3 control-label"><span data-toggle="tooltip" title="{{ desc_payment_sogecommerce_redirect_enabled }}">{{ entry_payment_sogecommerce_redirect_enabled }}</span></label>
                  <div class="col-sm-13">
                    <input type="radio" {% if payment_sogecommerce_multi_redirect_enabled == '0' %} checked="checked" {% endif %} value='0' name="payment_sogecommerce_multi_redirect_enabled" id="payment_sogecommerce_multi_redirect_enabled_0"><label for="payment_sogecommerce_multi_redirect_enabled_0">{{ text_payment_sogecommerce_no }}</label>
                    <input type="radio" {% if payment_sogecommerce_multi_redirect_enabled == '1' %} checked="checked" {% endif %} value='1' name="payment_sogecommerce_multi_redirect_enabled" id="payment_sogecommerce_multi_redirect_enabled_1"><label for="payment_sogecommerce_multi_redirect_enabled_1">{{ text_payment_sogecommerce_yes }}</label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="payment_sogecommerce_multi_redirect_success_timeout"><span data-toggle="tooltip" title="{{ desc_payment_sogecommerce_redirect_success_timeout }}">{{ entry_payment_sogecommerce_redirect_success_timeout }}</span></label>
                  <div class="col-sm-13">
                    <input type="text" id="payment_sogecommerce_multi_redirect_success_timeout" name="payment_sogecommerce_multi_redirect_success_timeout" placeholder="{{ entry_payment_sogecommerce_redirect_success_timeout }}" value="{{ payment_sogecommerce_multi_redirect_success_timeout }}" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="payment_sogecommerce_multi_redirect_success_message"><span data-toggle="tooltip" title="{{ desc_payment_sogecommerce_redirect_success_message }}">{{ entry_payment_sogecommerce_redirect_success_message }}</span></label>
                  <div class="col-sm-13">
                    <input type="text" id="payment_sogecommerce_multi_redirect_success_message" name="payment_sogecommerce_multi_redirect_success_message" placeholder="{{ entry_payment_sogecommerce_redirect_success_message }}" value="{{ payment_sogecommerce_multi_redirect_success_message }}" size="50" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="payment_sogecommerce_multi_redirect_error_timeout"><span data-toggle="tooltip" title="{{ desc_payment_sogecommerce_redirect_error_timeout }}">{{ entry_payment_sogecommerce_redirect_error_timeout }}</span></label>
                  <div class="col-sm-13">
                    <input type="text" id="payment_sogecommerce_multi_redirect_error_timeout" name="payment_sogecommerce_multi_redirect_error_timeout" placeholder="{{ entry_payment_sogecommerce_redirect_error_timeout }}" value="{{ payment_sogecommerce_multi_redirect_error_timeout }}" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="payment_sogecommerce_multi_redirect_error_message"><span data-toggle="tooltip" title="{{ desc_payment_sogecommerce_redirect_error_message }}">{{ entry_payment_sogecommerce_redirect_error_message }}</span></label>
                  <div class="col-sm-13">
                    <input type="text" id="payment_sogecommerce_multi_redirect_error_message" name="payment_sogecommerce_multi_redirect_error_message" placeholder="{{ entry_payment_sogecommerce_redirect_error_message }}" value="{{ payment_sogecommerce_multi_redirect_error_message }}" size="50" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="payment_sogecommerce_multi_return_mode"><span data-toggle="tooltip" title="{{ desc_payment_sogecommerce_return_mode }}">{{ entry_payment_sogecommerce_return_mode }}</span></label>
                  <div class="col-sm-13">
                    <select id="payment_sogecommerce_multi_return_mode" name="payment_sogecommerce_multi_return_mode">
                      <option {% if payment_sogecommerce_multi_return_mode == 'GET' %} selected="selected" {% endif %} value="GET">GET</option>
                      <option {% if payment_sogecommerce_multi_return_mode == 'POST' %} selected="selected" {% endif %} value="POST">POST</option>
                    </select>
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="tab-pane" id="tab-specific">
              <fieldset>
                <legend><font style="font-weight: bold;">{{ section_payment_sogecommerce_display_options }}</font></legend>
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="payment_sogecommerce_multi_status"><span data-toggle="tooltip" title="{{ desc_payment_sogecommerce_status }}">{{ entry_payment_sogecommerce_status }}</span></label>
                  <div class="col-sm-13">
                    <select id="input-status" name="payment_sogecommerce_multi_status">
                      {% if payment_sogecommerce_multi_status %}
                        <option value="1" selected="selected">{{ text_enabled }}</option>
                        <option value="0">{{ text_disabled }}</option>
                      {% else %}
                        <option value="1">{{ text_enabled }}</option>
                        <option value="0" selected="selected">{{ text_disabled }}</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="payment_sogecommerce_multi_sort_order"><span data-toggle="tooltip" title="{{ desc_payment_sogecommerce_sort_order }}">{{ entry_payment_sogecommerce_sort_order }}</span></label>
                  <div class="col-sm-13">
                    <input type="text" id="payment_sogecommerce_multi_sort_order" name="payment_sogecommerce_multi_sort_order" placeholder="{{ entry_payment_sogecommerce_sort_order }}" value="{{ payment_sogecommerce_multi_sort_order }}" size="3" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="payment_sogecommerce_multi_geo_zone"><span data-toggle="tooltip" title="{{ desc_payment_sogecommerce_geo_zone }}">{{ entry_payment_sogecommerce_geo_zone }}</span></label>
                  <div class="col-sm-13">
                    <select id="payment_sogecommerce_multi_geo_zone" name="payment_sogecommerce_multi_geo_zone">
                      <option value="0">{{ text_all_zones }}</option>
                      {% for geo_zone in geo_zones %}
                        {% if geo_zone.geo_zone_id == payment_sogecommerce_multi_geo_zone %}
                          <option selected="selected" value="{{ geo_zone.geo_zone_id }}" >{{ geo_zone.name }}</option>
                        {% else %}
                          <option value="{{ geo_zone.geo_zone_id }}" >{{ geo_zone.name }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </fieldset>

              <fieldset>
                <legend><font style="font-weight: bold;">{{ section_payment_sogecommerce_restrictions }}</font></legend>
                <div class="form-group"> 
                  <label class="col-sm-3 control-label" for="payment_sogecommerce_multi_min_amount"><span data-toggle="tooltip" title="{{ desc_payment_sogecommerce_min_amount }}">{{ entry_payment_sogecommerce_min_amount }}</span></label>
                  <div class="col-sm-13">
                    <input type="text" id="payment_sogecommerce_multi_min_amount" name="payment_sogecommerce_multi_min_amount" placeholder="{{ entry_payment_sogecommerce_min_amount }}" value="{{ payment_sogecommerce_multi_min_amount }}" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="payment_sogecommerce_multi_max_amount"><span data-toggle="tooltip" title="{{ desc_payment_sogecommerce_max_amount }}">{{ entry_payment_sogecommerce_max_amount }}</span></label>
                  <div class="col-sm-13">
                    <input type="text" id="payment_sogecommerce_multi_max_amount" name="payment_sogecommerce_multi_max_amount" placeholder="{{ entry_payment_sogecommerce_max_amount }}" value="{{ payment_sogecommerce_multi_max_amount }}" />
                  </div>
                </div>
              </fieldset>

              <fieldset>
                <legend><font style="font-weight: bold;">{{ section_payment_sogecommerce_multi_options }}</font></legend>
                <div class="form-group"> 
                  <label class="col-sm-3 control-label" for="payment_sogecommerce_multi_first"><span data-toggle="tooltip" title="{{ desc_payment_sogecommerce_multi_first }}">{{ entry_payment_sogecommerce_multi_first }}</span></label>
                  <div class="col-sm-13">
                    <input type="text" id="payment_sogecommerce_multi_first" name="payment_sogecommerce_multi_first" placeholder="{{ entry_payment_sogecommerce_multi_first }}" value="{{ payment_sogecommerce_multi_first }}" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="payment_sogecommerce_multi_count"><span data-toggle="tooltip" title="{{ desc_payment_sogecommerce_multi_count }}">{{ entry_payment_sogecommerce_multi_count }}</span></label>
                  <div class="col-sm-13">
                    <input type="text" id="payment_sogecommerce_multi_count" name="payment_sogecommerce_multi_count" placeholder="{{ entry_payment_sogecommerce_multi_count }}" value="{{ payment_sogecommerce_multi_count }}" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="payment_sogecommerce_multi_period"><span data-toggle="tooltip" title="{{ desc_payment_sogecommerce_multi_count }}">{{ entry_payment_sogecommerce_multi_period }}</span></label>
                  <div class="col-sm-13">
                    <input type="text" id="payment_sogecommerce_multi_period" name="payment_sogecommerce_multi_period" placeholder="{{ entry_payment_sogecommerce_multi_period }}" value="{{ payment_sogecommerce_multi_period }}" />
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="tab-pane" id="tab-orders">
              <fieldset>
                <legend><font style="font-weight: bold;">{{ section_payment_sogecommerce_orders }}</font></legend>
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="payment_sogecommerce_multi_order_status_success">{{ entry_payment_sogecommerce_order_status_success }}</label>
                  <div class="col-sm-13">
                    <select name="payment_sogecommerce_multi_order_status_success" id="payment_sogecommerce_multi_order_status_success">
                    {% for order_status in order_statuses %}
                      {% if order_status.order_status_id == payment_sogecommerce_multi_order_status_success %}
                        <option selected="selected" value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                      {% else %}
                        <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                      {% endif %}
                    {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="payment_sogecommerce_multi_order_status_failed">{{ entry_payment_sogecommerce_order_status_failed }}</label>
                  <div class="col-sm-13">
                    <select name="payment_sogecommerce_multi_order_status_failed" id="payment_sogecommerce_multi_order_status_failed">
                    {% for order_status in order_statuses %}
                      {% if order_status.order_status_id == payment_sogecommerce_multi_order_status_failed %}
                        <option selected="selected" value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                      {% else %}
                        <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                      {% endif %}
                    {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="payment_sogecommerce_multi_order_status_canceled">{{ entry_payment_sogecommerce_order_status_canceled }}</label>
                  <div class="col-sm-13">
                    <select name="payment_sogecommerce_multi_order_status_canceled" id="payment_sogecommerce_multi_order_status_canceled">
                    {% for order_status in order_statuses %}
                      {% if order_status.order_status_id == payment_sogecommerce_multi_order_status_canceled %}
                        <option selected="selected" value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                      {% else %}
                        <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                      {% endif %}
                    {% endfor %}
                    </select>
                  </div>
                </div>
              </fieldset>

              <fieldset>
                <legend><font style="font-weight: bold;">{{ section_payment_sogecommerce_notifications }}</font></legend>
                <div class="form-group">
                  <label class="col-sm-3 control-label">{{ entry_payment_sogecommerce_notify_failed }}</label>
                  <div class="col-sm-13">
                    <input type="radio" {% if payment_sogecommerce_multi_notify_failed == '0' %} checked="checked" {% endif %} value="0" name="payment_sogecommerce_multi_notify_failed" id="payment_sogecommerce_multi_notify_failed_0"><label for="payment_sogecommerce_multi_notify_failed_0">{{ text_payment_sogecommerce_no }}</label>
                    <input type="radio" {% if payment_sogecommerce_multi_notify_failed == '1' %} checked="checked" {% endif %} value="1" name="payment_sogecommerce_multi_notify_failed" id="payment_sogecommerce_multi_notify_failed_1"><label for="payment_sogecommerce_multi_notify_failed_1">{{ text_payment_sogecommerce_yes }}</label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">{{ entry_payment_sogecommerce_notify_canceled }}</label>
                  <div class="col-sm-13">
                    <input type="radio" {% if payment_sogecommerce_multi_notify_canceled == '0'%} checked="checked"' {% endif %} value="0" name="payment_sogecommerce_multi_notify_canceled" id="payment_sogecommerce_multi_notify_canceled_0"><label for="payment_sogecommerce_multi_notify_canceled_0">{{ text_payment_sogecommerce_no }}</label>
                    <input type="radio" {% if payment_sogecommerce_multi_notify_canceled == '1'%} checked="checked"' {% endif %} value="1" name="payment_sogecommerce_multi_notify_canceled" id="payment_sogecommerce_multi_notify_canceled_1"><label for="payment_sogecommerce_multi_notify_canceled_1">{{ text_payment_sogecommerce_yes }}</label>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endif %}
</div>

{{ footer }}