<footer>
  <div class="container"><a href="http://www.opencart-france.eu" target="_blank">{{ text_project }}</a>|<a href="http://www.opencart-france.eu/index.php?route=documentation/documentation" target="_blank">{{ text_documentation }}</a>|<a href="http://forum.opencart-france.eu" target="_blank">{{ text_support }}</a><br />
    </div>
    {{ text_footer }}
</footer>
</body></html>
