{{ header }} 
{% include 'fastor/template/new_elements/wrapper_top.twig' %}

<form action="{{ action }}" method="post" enctype="multipart/form-data">
  <div class="table-responsive cart-info">
    <table class="table table-bordered">
      <thead>
        <tr>
          <td class="text-center">{{ column_image }}</td>
          <td class="text-center hidden-xs">{{ column_name }}</td>
          <td class="text-center hidden-xs">{{ column_model }}</td>
          <td class="text-center">{{ column_quantity }}</td>
          <td class="text-right hidden-xs">{{ column_price }}</td>
          <td class="text-right">{{ column_total }}</td>
        </tr>
      </thead>
      <tbody>
        {% for product in products %} 
        <tr>
          <td class="text-center">{% if (product['thumb']) %} 
            <a href="{{ product['href'] }}"><img src="{{ product['thumb'] }}" alt="{{ product['name'] }}" title="{{ product['name'] }}" class="img-thumbnail" /></a>
            {% endif %} 
            <div class="visible-xs"><a href="{{ product['href'] }}">{{ product['name'] }}<div>
            </td>
          <td class="text-center hidden-xs"><a href="{{ product['href'] }}">{{ product['name'] }}</a>
            {% if (not product['stock']) %} 
            <span class="text-danger">***</span>
            {% endif %} 
            {% if (product['option']) %} 
            {% for option in product['option'] %} 
            <br />
            <small>{{ option['name'] }}: {{ option['value'] }}</small>
            {% endfor %} 
            {% endif %} 
            {% if (product['reward']) %} 
            <br />
            <small>{{ product['reward'] }}</small>
            {% endif %} 
            {% if (product['recurring']) %} 
            <br />
            <span class="label label-info">{{ text_recurring_item }}</span> <small>{{ product['recurring'] }}</small>
            {% endif %}</td>
          <td class="text-center hidden-xs">{{ product['model'] }}</td>
          <td class="text-center">
              <input type="text" name="quantity[{{ product['cart_id'] }}]" value="{{ product['quantity'] }}" size="1" />
              &nbsp;
              <input type="image" src="catalog/view/theme/fastor/img/update.png" alt="{{ button_update }}" title="{{ button_update }}" />
              &nbsp;<a onclick="cart.remove('{{ product['cart_id'] }}');"><img src="catalog/view/theme/fastor/img/remove.png" alt="{{ button_remove }}" title="{{ button_remove }}" /></a>
          </td>
          <td class="text-right hidden-xs">{{ product['price'] }}</td>
          <td class="text-right">{{ product['total'] }}</td>
        </tr>
        {% endfor %} 
        {% for voucher in vouchers %} 
        <tr>
          <td></td>
          <td class="text-left">{{ voucher['description'] }}</td>
          <td class="text-left"></td>
          <td class="text-left"><div class="input-group btn-block" style="max-width: 200px;">
              <input type="text" name="" value="1" size="1" disabled="disabled" class="form-control" />
              <span class="input-group-btn">
              <button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger" onclick="voucher.remove('{{ voucher['key'] }}');"><i class="fa fa-times-circle"></i></button>
              </span></div></td>
          <td class="text-right">{{ voucher['amount'] }}</td>
          <td class="text-right">{{ voucher['amount'] }}</td>
        </tr>
        {% endfor %} 
      </tbody>
    </table>
  </div>
</form>

{% if (modules) %} 
<h2>{{ text_next }}</h2>
<p style="padding-bottom: 10px">{{ text_next_choice }}</p>
<div class="panel-group" id="accordion">
     {% for module in modules %} 
     {{ module }} 
     {% endfor %} 
</div>
{% endif %} 

<div class="cart-total">
    <table>
      {% for total in totals %} 
      <tr>
        <td class="text-right"><strong>{{ total['title'] }}:</strong></td>
        <td class="text-right">{{ total['text'] }}</td>
      </tr>
      {% endfor %} 
    </table>
</div>
<div class="buttons">
  <div class="pull-left"><a href="{{ continue }}" class="btn btn-default">{{ button_shopping }}</a></div>
  <div class="pull-right"><a href="{{ checkout }}" class="btn btn-primary">{{ button_checkout }}</a></div>
</div>

{% include 'fastor/template/new_elements/wrapper_bottom.twig' %}
{{ footer }}